__Q.1.__ In the below elements which of them are values or an expression? eg:- values can be integer or string and expressions will be mathematical operators.

*

'hello'

-87.8

-

/

+

6

__Answer :-__

| Element | Value/Expression |
| ---- | ---- |
| * | Expression |
| 'hello' | Value |
| -87.8 | Value |
| - | Expression |
| / | Expression |
| + | Expression |
| 6 | Value |

__Q.2.__ What is the difference between string and variable?

**Answer :-**

- String :-  
    * A sequence of character whicn is written in single or double quote
- Variavle:- 
    * Variable is a Name which is used to store a data value or object

In [3]:
#Initialize string type variable
City= 'Mumbai'
print(type(City))

<class 'str'>

__Q.3__ Describe three different data types.

**Answer :-**

-  Numeric Data type:- 
    * A data which is represnt by numberic value.
    * It is of tptes
     * Integer , 
     * Float
     * Complex number

**Example:-**

In [2]:
x=2
y=10.2
z=2+2j
print( f"{x} is {type(x)} data type \n{y} is {type(y)} data type \n{z} is {type(z)} data type")

2 is <class 'int'> data type
10.2 is <class 'float'> data type
(2+2j) is <class 'complex'> data type

- Boolean Data type :-
     * Bolean data have two value that is True or False And it is used for  logical comparision

**Example:-**

In [4]:
x=10
y=20
a=x>y
b=x<y
print(a)
print(b)

False
True

- String Data type:-
    * A collection  of a character which is written in single and duble quotes.

**Example:-**

In [5]:
x= "This is my First Assignment" 
type(x)

str

__Q.4.__ What is an expression made up of? What do all expressions do?

**Answer :-**

Expression is made by value, variable and mahemaical or logical  operator and it is used to evaluate the results

In [7]:
x=2
y=3
z=x+y*2
print(z)
w=x>y
print(w)

8
False

<font color=red> Ramdas</font>

In [ ]:
'Ramdas' + 25

<font color=red> 'Ramdas'</font> <font color=pink> +</font> <font color=green> 25</font>

__Q__.5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?

__Answer__:-

- Spam=10 is not a Expression ,as this statment not contain any mathematical or logical operator to  evaluate results so its a statment only 
note Expression are statement

__Q.__6. After running the following code, what does the variable bacon contain?

bacon = 22

bacon + 1

__Answer__:-

In [5]:
bacon=22
bacon+1

23

After running above code bacon contain value 23

__Q.__7. What should the values of the following two terms be?

'spam' + 'spamspam'

'spam' * 3

**Answer**:-

In [6]:
'spam' + 'spamspam'

'spamspamspam'

In [7]:
'spam' * 3

'spamspamspam'

__Q.__8. Why is eggs a valid variable name while 100 is invalid?

**Answer**:-

- There are some rule to write a variable name in python 
    * 1.The first character of can start with lower or upper case of alphabates or with underscore(_) but can not start with number.
    * 2.After first character of variable second character can be alphabet or number.

In [11]:
eggs=20
eggs

20

In [12]:
100='This is my first Assignment'
100

SyntaxError: cannot assign to literal (Temp/ipykernel_12792/3088465907.py, line 1)

__Q.__9. What three functions can be used to get the integer, floating-point number, or string version of a value?

**Answer**:-

int():- To get integer value

float():- To get Floatign point value

str():- TO get string value

**Exapmle**:-

In [18]:
#string to int datatype 
a='256'
b=int(a)
print(b)
type(a),type(b)

256

(str, int)

In [19]:
# string to float
c='256'
d=float(a)
print(d)
type(c),type(d)

256.0

(str, float)

In [20]:
# integer to string
x=25
y=str(x)
print(y)
type(x),type(y)

25

(int, str)

__Q.__10. Why does this expression cause an error? How can you fix it?

 'I have eaten' + 99 + 'burritos.'

**Answer**:-

 Above statement is a exapmle of a concatination where 99 is a integer and rest is sting type hence it throw error to fix this  error we have to make 99 in a string formates

In [23]:
'I have eaten' + '99' + 'burritos.'

'I have eaten99burritos.'